/* .nav-item:hover {
  background-color: #5f83ee;
} */
.nav-item:hover {
  background-color: #535353;
}

.ml-2 {
  margin-left: 30px;
}

.active {
  background-color: #4d4c4c;
}
/* .active {
  background-color: #3e518a;
} */

.sidebar {
  height: 100vh;
  min-width: 220px;
  /* overflow-x: auto; */
  overflow: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
  min-width: 100px;
  }
}
