.textarea {
  resize: none;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.color-warning {
  color: rgb(231, 180, 13);
}

.color-danger {
  color: red;
}

.color-green {
  color: rgb(7, 201, 7);
}

.color-detail {
  color: rgb(66, 66, 223)
}

.border-red {
  border: 1px solid #e6202091;
}

.width-70 {
  width: 70px;
}

.color-admin {
  color: rgb(9 169 71);
}

.color-moderator {
  color: #f26f1c;
}

.color-user {
  color: #3f3fbd;
}

.bg-login {
  background-color: #909998d3;
}

.modal-content {
  color: black;
}

.table {
  color: rgb(37, 37, 37);
}