

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

textarea {
  resize: none;
}

.image-table {
  width: 90px;
  height: 90px;
}

.big-image {
  width: 150px;
  height: 150px;
}

.loader {
  width: 100px;
  height: 100px;
}